body {
    margin: 0;
    color: white;
    background: #000000;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	cursor: none;
	z-index: -1;
	pointer-events: none;
}

a {
    color: rgb(209, 196, 196);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    color: rgb(252, 250, 250);
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    margin-top: 1rem;
}

nav {
    padding-top: 2rem;
    font-size: 1.25rem;
}

ul {
    list-style-type: none; 
    padding: 0;   
    margin: 0;     
    display: flex;
    gap: 3rem;      
}

#tool-link {
    color: rgb(245, 2, 2);
    font-weight: 600;
}

img {
    max-width: 15%;
    height: auto;
}

h1 {
    font-family: "Geostar Fill", serif;
    font-weight: 400;
}

p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}


.blog-section {
    display: grid;
    grid-template-areas:
        "header photo"
        "title photo"
        "time photo"
        "desc photo";
    align-items: center;
    column-gap: 2rem;
    width: 100%;
    max-width: 900px;
    margin: 7rem auto;
}

.blog-section h1 {
    grid-area: header;
    margin: 50px 20px;
}

.blog-section h2 {
    grid-area: title;
    margin: 0;
}

.blog-section time {
    grid-area: time;
    font-size: 0.9rem;
    color: rgb(209, 196, 196);
}

.blog-section p {
    grid-area: desc;
    text-align: left;
}

.blog-section img {
    grid-area: photo;
    max-width: 440px; 
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section {
    display: grid;
    grid-template-areas:
        "photo title"
        "photo desc"
        "photo sound";
    align-items: start;
    column-gap: 2rem;
    width: 100%;
    max-width: 900px;
    margin: 4rem auto;
}

audio {
    grid-area: sound;
    margin-top: 0;
}

.about-section .profile-photo {
    grid-area: photo;
    max-width: 250px; 
    width: 100%;
    height: auto;
    border-radius: 8px; 
}

.about-section h1 {
    grid-area: title;
    margin: 0;
}

.about-section p {
    grid-area: desc;
    text-align: left;
    margin-bottom: 0;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}